<section class="mainbar">
    <section class="matter">
        <div class="container">
            <h2><a href ng-click="vm.openNewSeason()" class="btn btn-default">New Season </a>
            </h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Seasons" allow-collapse="false"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Season </th>
                                        <th>Season Start</th>
                                        <th>Season End</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in vm.seasons">
                                        <td style="text-align: left">
                                            <a id="Edit" href ng-click="vm.openEditSeason(p)">Edit </a>|
                                        <a id="Delete" href ng-click="vm.openDeleteSeason(p)">Delete </a>
                                        </td>
                                        <td style="text-align: left">{{p.SeasonName}}</td>
                                        <td style="text-align: left"><span data-ng-bind="vm.convertToDate(p.SeasonStart) | date:'dd/MM/yyyy'"></span><!--{{p.SeasonStart}}--></td>
                                        <td style="text-align: left"><span data-ng-bind="vm.convertToDate(p.SeasonEnd) | date:'dd/MM/yyyy'"></span><!--{{p.SeasonEnd}}--></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script type="text/ng-template" id="season.html">
    <div class="modal-content" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Season</h4>
        </div>
        <div class="modal-body">

            <form role="form">

                <div class="form-group">
                    <label for="seasonName">Season Name</label>
                    <input type="text" class="form-control" id="seasonName" data-ng-model="seasonName" placeholder="Enter Season Name"/>
                </div>
        
                <div class="form-group">
                    <label for="seasonStart">Season start date</label>
                    <input type="date" id="seasonStart" name="seasonStart" data-ng-model="seasonStart" placeholder="yyyy-MM-dd"><br><br>
                </div>
        
                <div class="form-group">
                    <label for="seasonEnd">Season end</label>
                    <input type="date" id="seasonEnd" name="seasonEnd" data-ng-model="seasonEnd" placeholder="yyyy-MM-dd"><br><br>
                </div>
               
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="cancel()">Close</button>
            <button type="button" class="btn btn-primary" data-ng-click="ok()">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
    </script>
</section>
